.cards-container{
    display: grid;

    /* auto fill rellena las columnas de manera automatica 
    el seundo parametro define su tamano */
    grid-template-columns: repeat(auto-fill,240px) ;

    /*  anadimos espacios entre las grillas*/
    gap: 26px;
    /* alineamos la grid justo en el centro*/
   place-content: center; 
}

.product-card{
    width: 240px;
}

.product-card img {

width: 240px;
border-radius: 20px;
height: 240px;

/* permite que la imagen conserve su tamano independiente 
del width y del heigth */
object-fit: cover;
}

.product-info{
display: flex;

/* alineamos nuestros elementos tanto horizontal como verticalmente*/
justify-content: space-between;
align-items: center;
margin-top: 12px;

}
/*el pimer p que este contenido dentro de el divvque este dento de product info */
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
    }

    .product-info div p:nth-child(2){
       
        font-size: var(--md);
        margin-top: 0;
        margin-bottom: 0;
        color: var(--very-light-pink);
        } 
.product-info figure img {
    width: 35px;
    height: 35px;
 }
 .product-info figure{
    margin: 0;
 }


 /* agreagamos la querty necesario para hecar responsive
 la aplicacion en pantallas mas pequenias */
 @media (max-width:640px) {
    .cards-container{
        grid-template-columns: repeat(auto-fill,240px) ;
    }
    .product-card{
        width: 140px;
    }
    
    .product-card img {
    
      width: 140px;
      height: 140px;
    }
     
 }