.inactive{
    display: none;
}

/* navBar styles */
.menu{
    display: none;
}
.logo{
    width: 100px;
}
.navbar-left ul,
.navbar-right ul{
list-style: none;
padding: 0;
margin: 0;
display: flex;
align-items: center;
height: 60px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid #c7c7c7;
}
.navbar-left{
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: #c7c7c7;
    border: 1px solid white;
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
  color: #acd982;
  border: 1px solid #acd982;
}
.navbar-email{
   color: #c7c7c7;
   font-size: small; 
   margin-right: 12px;
   cursor: pointer;
}
.navbar-shopping-cart{
    position: relative;
}
.navbar-shopping-cart div{

    width: 16px;
    height: 16px;
    background-color: #acd982;
    border-radius: 50px;
    font-size: small;
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* menu Desktop styles*/
.desktop-menu {
    width: 100px;
    height: auto;
    border: 1px solid #c7c7c7;
    position: absolute;
    background-color: white;
     top: 60px;
     right: 30px;
    border-radius: 16px;
    padding: 20px 20px 0 20px; 
}

.desktop-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.desktop-menu ul li{
   text-align: end;
  }

  .desktop-menu ul li:nth-child(1),
  .desktop-menu ul li:nth-child(2)
  {
   font-weight: bold;
   }

  .desktop-menu ul li:last-child{
    list-style: none;
    padding-top: 20px;
    border-top: 1px solid #c7c7c7;
  }
  .desktop-menu ul li:last-child a{
   color: var(--hospital-green);
   font-size: var(--sm);
  }
  .desktop-menu ul li a{
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
   }

   /* menu Mobile styles*/

   .mobile-menu{
    background-color: white;
    padding: 24px;
    position: absolute;
    top: 60px;
}

.mobile-menu a{
   text-decoration: none;
   color: black;
   font-weight: bold;
   
}
.mobile-menu ul{
  padding: 0;
  margin: 24px 0 0 ;
  list-style: none;

}
.mobile-menu ul li{
 
    margin-bottom: 24px;
}
.email{
    font-size: 12px;
    font-weight: 300 !important;
}
.mobile-menu ul:nth-child(1){
border-bottom: 1px solid #c7c7c7;
}

.sing-out{
    font-size: small;
    color: #acd982 !important;
}
/*products styles ASIDE (product datail) */
.product-deatail {
    background-color: white;
    width: 360px;
    padding: 0 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
  }
  .title-container {
    display: flex;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: large;
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: #f7f7f7;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: medium;
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: #c7c7c7;
  }
  .shopping-cart p:nth-child(3) {
    font-size: medium;
    font-weight: bold;
  }
  .primary-button {
    background-color: #acd982;
    border-radius: 8px;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    height: 50px;
  }

   /* medias for mobile*/

@media (max-width: 640px) {
    .menu{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email, .desktop-menu{
        display: none;
    }  
    .product-deatail{
        width: 100%;
    }  
}

/*medias for desktop*/
@media(min-width:641px){

    .mobile-menu{
        display: none;
    }
}
